/* 
  HEADER 
*/
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.gb-header-top{
  background-color: black;
}

.sony-logo{
  width: 70px;
  filter: invert(-1);
  margin-right: 5px;
}

.gb-lens{
  width: 20px;
  margin: 0 15px;
}

.gb-lens img{
  width: 100%;
}




/* 
  JUMBOTRON 
*/
.jumbotron{
  height: 550px;
  background-image: url(../img/jumbo-bg.png);
  background-size: cover;
  background-position: center;
  margin-top: 100px;
}

.jumbo-logo{
  width: 200px;
}

.jumbo-logo img{
  width: 100%;
}

.jumbotron p{
  font-size: .9rem;
}





/* 
  MAIN 
*/

/* Games */
#games .gb-width{
  width: 500px;
}
/* /Games  */


/* Console  */
/* /Console  */


/* it-takes-two  */
#it-takes-two{
  background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
  background-size: cover;
  background-position: center;
}
/* /it-takes-two */


/* Nuove uscite  */
/* /Nuove uscite  */


/* Esplora play 4  */
#esplora .gb-width{
  width: 500px;
}
/* /Esplora play 4  */


/* Ps plus  */
#ps-plus{
  background-color: #BEBCBB;
}
/* /Ps plus  */


/* Sconti  */
#sconti .gb-width{
  width: 70%;
}
/* /Sconti  */


/* Ps now  */
#ps-now{
  background-color: #161C3B;
}
/* /Ps now  */


/* Social  */
/* /Social  */






/* 
  FOOTER 
*/


