/* 
  HEADER 
*/
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.gb-header-top{
  background-color: black;
}

.sony-logo{
  width: 80px;
  filter: invert(-1);
  margin-right: 10px;
}

.gb-lens{
  width: 20px;
  margin: 0 15px;
}

.gb-lens img{
  width: 100%;
}

.gb-search{
  border: 1px solid grey;
  border-radius: 3px;
}

.gb-input{
  border: none;
  /* width: calc(100% - 55px); */
  /* height: 55px; */
  width: 200px;
  background-color: #F8F9FA;
  border-radius: 3px;
  padding-left: 5px;
} 

.gb-a{
  color: black !important;
}

.gb-a:hover{
  color: #0B6FD1 !important;
}

/* Angle  */
header .angle{
  display: inline-block;
}

header .angle img{
  width: 10px;
}

.angle-down-hover{
  transform: scaley(-1);
  display: none;
}

header li:hover .angle-down-hover{
  display: block;
}

header li:hover .angle-down{
  display: none;
}

header li:hover .angle-down-hover{
  animation-name: rotation;
  animation-duration: .5s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
}

@keyframes rotation{
  0%{transform: rotate(0)}
  100%{transform: rotate(-180deg)}
}
/* /Angle  */

.gb-header-bottom{
  position: relative;
}

li:hover .gb-nav{
  /* transform: scale(3); */
}

header .gb-dropdown{
  position: absolute;
  top: 76px;
  left: 0;
  width: 100%;
  background-color: #F8F9FA;
  display: none;
  /* opacity: 0; */
}

header li:hover .gb-dropdown{
  /* opacity: 1; */
  display: block;
  overflow: hidden;
}

header li:hover .gb-dropdown{
  animation-name: dropSlow;
  animation-duration: .3s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
}

@keyframes dropSlow{
  0%{height: 0;}
  25%{height: 25%;}
  50%{height: 50%;}
  75%{height: 75%;}
  100%{height: 100%;}
}

header .gb-dropdown a{
  color: black;
  text-decoration: none;
}

header .gb-dropdown a:hover img{
  box-shadow: 0 0 10px grey;
}

header .gb-dropdown .gb-sub-menu{
  border-top: 1px solid #BEBCBB;
}

header .gb-dropdown img{
  width: 80px;
  border-radius: 5px;
}







/* 
  JUMBOTRON 
*/
.jumbotron{
  background-image: url(../img/jumbo-bg.png);
  background-size: cover;
  background-position: center;
  margin-top: 100px;
}

.jumbo-logo{
  padding-top: 50%;
  width: 200px;
}

.jumbo-logo img{
  width: 100%;
}

.jumbotron p{
  font-size: .9rem;
}





/* 
  MAIN 
*/

/* Games */
#games .gb-title-width{
  width: 500px;
}

#games .gb-card{
  min-height: 150px;
}

#games .gb-card img{
  width: 100%;
  border-radius: 20px;
  margin: 10px 0;
  transition: .4s;
  opacity: .8;
}

#games .gb-card:hover img{
  margin-top: -5px;
  box-shadow: 0 10px 10px grey;
  opacity: 1;
}

#games .gb-card .active{
  padding: 3px;
  border: 2px solid #0066CD;
}

#games .play-5 span{
  color: #0066CD;
  text-transform: uppercase;
}
/* /Games  */


/* Console  */
#console .play-5 span{
  color: #0066CD;
  text-transform: uppercase;
  font-size: .8rem;
}

#console img{
  width: 100%;
}

#console .gb-card{
  filter: opacity(.7);
  transition: .4s;
}

#console .gb-card:hover{
  filter: opacity(1);
}

#console .gb-card.active{
  border: 2px solid #006CCD;
  border-radius: 15px;
  filter: opacity(1);
}

#console .gb-card.active:hover{
  box-shadow: 0 0 10px #006CCD;
}

#console .gb-card img{
  width: 50%;
}
/* /Console  */


/* it-takes-two  */
#it-takes-two{
  background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
  background-size: cover;
  background-position: center;
}

#it-takes-two img{
  padding-top: 10%;
  width: 300px;
  margin-bottom: 20px;
}
/* /it-takes-two */


/* Nuove uscite  */
#nuove-uscite{
  color: white;
  background-color: #1F1F1F;
}

#nuove-uscite .gb-card{
  padding-bottom: 30px;
}

#nuove-uscite .gb-card img{
  transition: .3s;
}

#nuove-uscite .gb-card:hover img{
  transform: scale(1.03);
}

#nuove-uscite .gb-card img{
  width: 100%;
  border-radius: 20px;
  margin: 10px 0;
  cursor: pointer;
}
/* /Nuove uscite  */


/* Esplora play 4  */
#esplora .gb-title-width{
  width: 500px;
}

#esplora .gb-card img{
  width: 100%;
  margin: 10px 0;
}
/* /Esplora play 4  */


/* Ps plus  */
#ps-plus{
  background-color: #BEBCBB;
}

#ps-plus .logo-ps-plus{
  width: 50%;
  margin-bottom: 20px;
}

#ps-plus .plus-image{
  width: 100%;
}

#ps-plus .gb-btn-grey{
  color: #0066CD;
  box-shadow: none;
}
/* /Ps plus  */


/* Sconti  */
#sconti .gb-title-width{
  width: 70%;
}

#sconti .gb-card img{
  width: 100%;
  margin: 10px 0;
  transition: .3s;
  border-radius: 15px;
}

#sconti .gb-card:hover img{
  transform: scale(1.03);
}
/* /Sconti  */


/* Sconti di primavera  */
#sconti-primavera img{
  width: 100%;
  border-radius: 10px;
  transition: .3s;
}

#sconti-primavera img:hover{
  transform: scale(1.03);
}
/* /Sconti di primavera  */


/* Ps now  */
#ps-now{
  background-color: #161C3B;
}

#ps-now .logo-ps-now{
  width: 50%;
  margin-bottom: 20px;
}

#ps-now .now-image{
  width: 100%;
}

#ps-now .now-image{
  width: 100%;
}

#ps-now p{
  color: white;
}

#ps-now .gb-btn-grey{
  color: black;
}
/* /Ps now  */


/* Social  */
#social .gb-card img{
  width: 100%;
  margin: 10px 0;
  border-radius: 15px;
  box-shadow: 0 10px 10px grey;
  transition: .3s;
}

#social .gb-card:hover img{
  box-shadow: 0 0 30px grey;
  transform: scale(1.03);
}
/* /Social  */

/* trick per vedere bene ancoraggio */
#games::before,
#console::before,
#it-takes-two::before,
#nuove-uscite::before,
#esplora::before,
#sconti-primavera::before{
  content: '';
  display: block;
  min-height: 100px;
  margin: -100px 0 0;
}
/* /trick per vedere bene ancoraggio */






/* 
  FOOTER 
*/
footer{
  background-color: #00439C;
  color: white;
  font-size: .9rem;
}

.gb-logo-footer{
  width: 80px;
}

footer a{
  color: white;
  text-decoration: none;
}

footer li:hover a{
  color: white;
  text-decoration: underline;
}

.gb-sie-logo{
  width: 100px;
}

.gb-language-logo{
  width: 15px;
}

footer a.info{
  text-decoration: underline;
}

footer a.info:hover{
  color: white;
}


/* MEDIA  */
@media screen and (max-width: 991px){
  
  /* btn  */
  .gb-btn-dark{
    padding-left: 150px;
    padding-right: 150px;
    margin: 0;
  }
  /* /btn  */

  /* header  */
  .gb-lens{
    margin: 10px 0;
    width: 100%;
    border: 1px solid #BEBCBB;
    border-radius: 2px;
  }

  .gb-lens img{
    width: 40px;
    display: none;
  }

  .gb-dropdown{
    display: none !important;
  }
  /* /header  */

  /* Sconti di primavera  */
  #sconti-primavera{
    text-align: center;
  }
  /* /Sconti di primavera  */

}

@media screen and (min-width: 991px){
  
  /* Social  */
  #social{
    width: 50%;
    margin: 0 auto;
  }
  /* /Social  */

  /* it-takes-two  */
  #it-takes-two img{
    width: 50%;
  }
  /* /it-takes-two */

  /* header  */
  .gb-search{
    display: none;
  }
  /* /header  */

}