/* 
  HEADER 
*/
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}


/* header nav{
  height: 100%;
}

header nav .row{
  height: 100%;
} */

.gb-header-top{
  background-color: black;
}

.sony-logo{
  width: 70px;
  filter: invert(-1);
  margin-right: 5px;
}

.gb-lens{
  width: 20px;
  margin: 0 15px;
}

.gb-lens img{
  width: 100%;
}




/* 
  JUMBOTRON 
*/
.jumbotron{
  background-image: url(../img/jumbo-bg.png);
  background-size: cover;
  background-position: center;
  margin-top: 100px;
}

.gb-col{
  width: 400px;
}





/* 
  MAIN 
*/

/* Games */
/* /Games  */


/* Console  */
/* /Console  */


/* it-takes-two  */
/* /it-takes-two */


/* Nuove uscite  */
/* /Nuove uscite  */


/* Esplora play 4  */
/* /Esplora play 4  */


/* Ps plus  */
/* /Ps plus  */


/* Sconti  */
/* /Sconti  */


/* Ps now  */
/* /Ps now  */


/* Social  */
/* /Social  */






/* 
  FOOTER 
*/


