/* BTN  */
.gb-btn{
  border-radius: 20px;
  color: white;
}

.gb-btn-dark{
  background-color: #363537;
  margin: 0 10px;
}

.gb-btn-danger{
  background-color: #CD3D10;
}

.gb-btn-primary{
  background-color: #2C64E6;
  margin-bottom: 20px;
}

.gb-btn-grey{
  background-color: #D9DADC;
  border: #D9DADC;
}
/* /BTN  */

/* col  */
.gb-col{
  width: 400px;
  color: white;
}
/* /col  */

/* Container  */
.gb-container{
  width: 40%;
  margin: 0 auto;
}
/* /Container  */

.text-grey{
  color: #5B5B5B;
  margin: 20px 0;
}






/* DEBUG */
.debug{
  background-color: rgba(255, 0, 0, .2);
  border: 1px solid black;
}

.h100{
  min-height: 100px;
}
.h300{
  min-height: 300px;
}
.h500{
  min-height: 500px;
}